
.author-post{
    margin-bottom: 0;
}
.comment-line{
    height: 0;
    border-top: 2px  solid #EDEEEE ;
    width: 95% ;
   margin-top: 1rem;
    border-bottom:none;

}
.comment-info{
    display: flex;
}
.display-quanity-comments{
    /* padding-left:36px ; */
    color: #7F7F7E;
    margin-top: 4rem;
}
h2 , p {
    padding: 0 28px 0 28px;
}

h2{
    text-align: center;
}

hr{
    height: 2px;
    border-top: 2px  solid #000000 ;
    border-bottom:none;
    margin-top: 3rem;
    width: 100%;

}
img{
    margin-left: 28px;
    
}
